.box{
    max-width: 328px;
}

.carTitle{
    color: #fff;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.carListYellowTitle{
    color: #F2C94C;
    font-size: 14px;
    font-style: normal;
    font-weight: 900;
    line-height: normal;
    text-transform: uppercase;
    margin-bottom: 13px;
}

.carText{
    color: #737373;
    line-height: 200%;
}