.footerDillerBox{
    display: flex;
    flex-direction: column;
    gap: 22px;
}

.footerFillerCopy{
    color: #fff;
    font-size: 18px;
    line-height: 140%; /* 25.2px */
}

.footerDillerLinkBox{
    display: flex;
    gap: 33px;
}

.footerDillerPolitic,
.footerDillerUsers{
    color: #737373;
    font-size: 14px;
    font-weight: 400;
    line-height: 140%;
    text-decoration-line: underline;
}