.numberBox{
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 13px;
    color: #ADADB0;
    position: relative;
}

.numberBox::after{
    content: '';
    position: absolute;
    background-color: #E1E1E1;
    width: 1px;
    height: 8px;
    top: 0;
    left: 10px;
}

/*.numberBox:first-child{*/
/*    margin-left: 1px;*/
/*}*/

.numberBoxNull{
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    padding-top: 13px;
    color: #ADADB0;
    position: relative;
}

.numberBoxNull::after{
    content: '';
    position: absolute;
    background-color: #E1E1E1;
    width: 1px;
    height: 8px;
    top: 0;
    left: 2px;
}

.numberBox:nth-child(2){
    margin-left: 43px;
}

.numberBox:first-child::after{
    content: '';
    position: absolute;
    background-color: #E1E1E1;
    width: 1px;
    height: 8px;
    top: 0;
    left: 2px;
}

.numberBox:nth-child(3){
    margin-left: -5px;
}

.numberBox:nth-child(4){
    margin-left: -10px;
}

/*.numberBox:nth-child(5){*/
/*    margin-left: 43px;*/
/*}*/

/*.numberBox:nth-child(6){*/
/*    margin-left: 41px;*/
/*}*/

/*.numberBox:nth-child(7){*/
/*    margin-left: 42px;*/
/*}*/

/*.numberBox:nth-child(8){*/
/*    margin-left: 47px;*/
/*}*/

/*.numberBox:nth-child(9){*/
/*    margin-left: 62px;*/
/*}*/

/*.numberBox:nth-child(10){*/
/*    margin-left: 49px;*/
/*}*/