.box{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.contacts{
    display: grid;
    grid-template-columns: 23px 100%;
    grid-column-gap: 12px;
    margin-bottom: 6px;
}

.contactsLogo{
    padding: 7px;
    border-radius: 50%;
    background-color: #CA0100;
}



.contactsNumbers{
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.clock{
    display: grid;
    grid-template-columns: 23px 100%;
    grid-column-gap: 12px;
    margin-bottom: 12px;
}

.clockLogo{
    padding: 7px;
    border-radius: 50%;
    background-color: #CA0100;
}

.location{
    display: grid;
    grid-template-columns: 23px 100%;
    grid-column-gap: 12px;
    margin-bottom: 19px;
}

.locoLogo{
    padding: 7px;
    border-radius: 50%;
    background-color: #CA0100;
}

.locoDescBox{
    display: flex;
    flex-direction: column;
}

.locoDesc,
.locoScheme{
    line-height: 120%;
    color: #737373
}

.locoScheme{
    color: #CA0100;
    text-decoration-line: underline;
    width: 115px;
}

.footerContactsBtn{
    cursor: pointer;
    border: none;
    height: 40px;
    width: 100%;
    border-radius: 9px;
    background-color: rgba(68, 68, 68, 0.4);
    padding: 10px 15px 5px 15px;
}

.footerContactsBtnP{
    line-height: 120%;
    color: #fff;
}

.btnBox{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.contactsNumberFirst,
.contactsNumberSecond,
.clockDesk{
    color: #737373 !important;
}
